In [33]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans, DBSCAN, AgglomerativeClustering
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA
from scipy.stats import pearsonr

In [34]:
df = pd.read_csv('marketing_advanced.csv', encoding='euc-kr')
df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,age,gender,country,...,category2,price,delivery_delay_days,approval_delay_minutes,weight_kg,volume_cm3,review_score,marketing_info_agree,agegroup,product_id
0,e22acc9c116caa3f2b7121bbb380d08e,0000366f3b9a7992bf8c76cfdf3221e2,delivered,2024-10-10 16:29,2024-10-10 19:21,2024-10-16 20:48,2024-10-21,56,남성,핀란드,...,건강식품,62.17,-5.0,15.0,5,11845.97,5,y,50대,d2e1b02d25294e6f
1,3594e05a005ac4d06a72673270ef9ec9,0000b849f77a49e4a4ce2b2a4ca5be3f,delivered,2024-10-07 17:47,2024-10-07 19:14,2024-10-10 18:02,2024-10-15,61,여성,한국,...,건강식품,57.90,-5.0,434.0,1,25981.89,4,y,50대,d2e1b02d25294e6f
2,b33ec3b699337181488304f362a6b734,0000f46a3911fa3c0805444483337064,delivered,2023-08-10 16:35,2023-08-10 19:29,2023-09-05 14:38,2023-09-07,51,남성,필리핀,...,건강식품,60.34,-2.0,0.0,0,26478.17,2,n,50대,d2e1b02d25294e6f
3,41272756ecddd9a9ed0180413cc22fb6,0000f6ccb0745a6a4b88665a16c9f078,delivered,2024-03-12 15:03,2024-03-12 17:00,2024-04-01 21:23,2024-04-13,34,여성,덴마크,...,음향가전,128.17,-12.0,20.0,10,208064.64,4,y,30대,f9614bb192ee4050
4,d957021f1127559cd947b62533f484f7,0004aac84e0df4da2b147fca70cf8255,delivered,2024-04-14 13:49,2024-04-14 15:41,2024-04-27 23:08,2024-05-05,42,남성,벨기에,...,주방가전,110.15,-8.0,21.0,5,185186.95,2,y,40대,76a306b4cd254f91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104894,725cf8e9c24e679a8a5a32cb92c9ce1e,fffcf5a5ff07b0908bd4e2dbc735a684,delivered,2023-11-08 13:35,2023-11-08 15:45,2023-12-06 9:22,2024-01-02,40,여성,브라질,...,비데,100.56,-27.0,15.0,1,228394.78,2,y,40대,4d1488c50d3f4b25
104895,c71b9252fd7b3b263aaa4cb09319a323,fffea47cd6d3cc0a88bd621562a9d061,delivered,2024-05-10 12:45,2024-05-10 15:17,2024-06-09 22:28,2024-06-12,39,여성,이탈리아,...,건강식품,58.66,-3.0,9.0,5,17850.64,2,y,30대,d2e1b02d25294e6f
104896,fdc45e6c7555e6cb3cc0daca2557dbe1,ffff371b4d645b6ecea244b27531430a,delivered,2023-07-07 4:15,2023-07-07 5:23,2023-07-22 12:45,2023-08-24,46,남성,폴란드,...,비데,96.40,-30.0,13.0,10,234820.57,2,y,40대,4d1488c50d3f4b25
104897,94d3ee0bc2a0af9d4fa47a4d63616e8d,ffff5962728ec6157033ef9805bacc48,delivered,2024-10-02 20:34,2024-10-02 22:38,2024-10-14 11:54,2024-10-28,48,여성,독일,...,음향가전,129.60,-14.0,41.0,25,189670.79,2,y,40대,f9614bb192ee4050
104898,f79a35da168301ae56922475da21117b,ffffd2657e2aad2907e67c3e9daecbeb,delivered,2023-10-02 22:23,2023-10-03 0:48,2023-10-10 9:33,2023-10-26,25,여성,괌,...,여성의류,34.66,-16.0,1137.0,1,47985.27,3,y,20대,9fb67edd2e814911

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104899 entries, 0 to 104898
Data columns (total 25 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       104899 non-null  object
 1   customer_id                    104899 non-null  object
 2   order_status                   104899 non-null  object
 3   order_purchase_timestamp       104899 non-null  object
 4   order_approved_at              104899 non-null  object
 5   order_delivered_timestamp      102623 non-null  object
 6   order_estimated_delivery_date  104899 non-null  object
 7   age                            104899 non-null  int64
 8   gender                         104899 non-null  object
 9   country                        104899 non-null  object
 10  payment_type                   104899 non-null  object
 11  payment_installments           104899 non-null  int64
 12  seller_id                      104899 non-null  object
 13  shipping_charges               104899 non-null  int64
 14  category1                      104899 non-null  object
 15  category2                      104899 non-null  object
 16  price                          104899 non-null  float64
 17  delivery_delay_days            102623 non-null  float64
 18  approval_delay_minutes         104885 non-null  float64
 19  weight_kg                      104899 non-null  int64
 20  volume_cm3                     104899 non-null  float64
 21  review_score                   104899 non-null  int64
 22  marketing_info_agree           104899 non-null  object
 23  agegroup                       104899 non-null  object
 24  product_id                     104899 non-null  object
dtypes: float64(4), int64(5), object(16)
memory usage: 20.0+ MB

In [36]:
df.isnull().sum()  # 각 열의 결측치 개수

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   0
order_delivered_timestamp        2276
order_estimated_delivery_date       0
age                                 0
gender                              0
country                             0
payment_type                        0
payment_installments                0
seller_id                           0
shipping_charges                    0
category1                           0
category2                           0
price                               0
delivery_delay_days              2276
approval_delay_minutes             14
weight_kg                           0
volume_cm3                          0
review_score                        0
marketing_info_agree                0
agegroup                            0
product_id                          0
dtype: int64

In [37]:
df1 = df.dropna()

In [38]:
# df = pd.read_csv('marketing_advanced.csv', encoding='cp949')
# use_cols = [
#     'price', 'payment_type', 'payment_installments',
#     'category1', 'category2', 'review_score',
#     'approval_delay_minutes', 'age', 'gender'
# ]
# df = df[use_cols]
# df = df.sample(n=30000, random_state=42)
# # 결측치 처리
# df = df.fillna({
#     'price': df['price'].mean(),
#     'payment_installments': df['payment_installments'].mode()[0],
#     'review_score': df['review_score'].mean(),
#     'approval_delay_minutes': df['approval_delay_minutes'].mean(),
#     'age': df['age'].mean(),
#     'gender': df['gender'].mode()[0],
#     'payment_type': df['payment_type'].mode()[0],
#     'category1': df['category1'].mode()[0],
#     'category2': df['category2'].mode()[0],
# })
# # 범주형 변수 원-핫 인코딩
# df_encoded = pd.get_dummies(df, columns=['payment_type', 'category1', 'category2', 'gender'])
# X = df_encoded.values
# # 2. K-Means
# kmeans = KMeans(n_clusters=3, random_state=42)
# kmeans_labels = kmeans.fit_predict(X)
# # 3. DBSCAN
# dbscan = DBSCAN(eps=0.5, min_samples=5)
# dbscan_labels = dbscan.fit_predict(X)
# # 4. 계층적 클러스터링 (Agglomerative)
# agg = AgglomerativeClustering(n_clusters=3)
# agg_labels = agg.fit_predict(X)
# # 5. 실루엣 점수 (DBSCAN은 noise(-1) 있을 수 있음)
# def safe_silhouette(X, labels):
#     n_clusters = len(set(labels)) - (1 if -1 in labels else 0)
#     if n_clusters <= 1 or (labels == -1).all():
#         return np.nan
#     return silhouette_score(X, labels)
# kmeans_sil = safe_silhouette(X, kmeans_labels)
# dbscan_sil = safe_silhouette(X, dbscan_labels)
# agg_sil = safe_silhouette(X, agg_labels)
# print("=== 군집 결과 비교 ===")
# print("K-Means: 실루엣 점수 =", kmeans_sil, "| 클러스터 라벨 =", np.unique(kmeans_labels))
# print("DBSCAN: 실루엣 점수 =", dbscan_sil, "| 클러스터 라벨 =", np.unique(dbscan_labels))
# print("Agglomerative: 실루엣 점수 =", agg_sil, "| 클러스터 라벨 =", np.unique(agg_labels))
# # 6. PCA 2차원 시각화
# pca = PCA(n_components=2)
# X_pca = pca.fit_transform(X)
# fig, axes = plt.subplots(1, 3, figsize=(15, 4))
# axes[0].scatter(X_pca[:, 0], X_pca[:, 1], c=kmeans_labels)
# axes[0].set_title("K-Means")
# axes[1].scatter(X_pca[:, 0], X_pca[:, 1], c=dbscan_labels)
# axes[1].set_title("DBSCAN")
# axes[2].scatter(X_pca[:, 0], X_pca[:, 1], c=agg_labels)
# axes[2].set_title("Agglomerative")
# plt.tight_layout()
# plt.show()

In [39]:
# # 1. 데이터 로드 및 전처리
# df = pd.read_csv('marketing_advanced.csv', encoding='cp949')
# use_cols = [
#     'price', 'payment_type', 'payment_installments',
#     'category1', 'category2', 'review_score',
#     'approval_delay_minutes', 'age', 'gender'
# ]
# df = df[use_cols]
# df = df.sample(n=30000, random_state=42)
# # 결측치 처리
# df = df.fillna({
#     'price': df['price'].mean(),
#     'payment_installments': df['payment_installments'].mode()[0],
#     'review_score': df['review_score'].mean(),
#     'approval_delay_minutes': df['approval_delay_minutes'].mean(),
#     'age': df['age'].mean(),
#     'gender': df['gender'].mode()[0],
#     'payment_type': df['payment_type'].mode()[0],
#     'category1': df['category1'].mode()[0],
#     'category2': df['category2'].mode()[0],
# })
# # 범주형 변수 원-핫 인코딩
# df_encoded = pd.get_dummies(df, columns=['payment_type', 'category1', 'category2', 'gender'])
# X = df_encoded.values
# # 2. K-Means
# kmeans = KMeans(n_clusters=3, random_state=42)
# kmeans_labels = kmeans.fit_predict(X)
# # 5. 실루엣 점수 (KMeans만)
# def safe_silhouette(X, labels):
#     n_clusters = len(set(labels))
#     if n_clusters <= 1:
#         return np.nan
#     return silhouette_score(X, labels)
# kmeans_sil = safe_silhouette(X, kmeans_labels)
# print("K-Means: 실루엣 점수 =", kmeans_sil, "| 클러스터 라벨 =", np.unique(kmeans_labels))
# # 6. PCA 2차원 시각화 (KMeans만)
# pca = PCA(n_components=2)
# X_pca = pca.fit_transform(X)
# plt.figure(figsize=(6, 5))
# plt.scatter(X_pca[:, 0], X_pca[:, 1], c=kmeans_labels)
# plt.title("K-Means")
# plt.tight_layout()
# plt.show()

In [40]:
def get_ttest(df):
    from scipy.stats import ttest_ind
    
    # 컬럼명 공백 제거
    df.columns = df.columns.str.strip()
    
    # 결측치 제거
    male = df[(df['gender'] == '남성') & (df['review_score'].notna())]['review_score']
    female = df[(df['gender'] == '여성') & (df['review_score'].notna())]['review_score']
    
    # t-test 실행
    t_stat, p_value = ttest_ind(male, female, equal_var=True)
    
    return round(t_stat, 4), round(p_value, 4)

# 실행
print(get_ttest(df))

(1.0539, 0.2919)

In [41]:
df1.describe()

,age,payment_installments,shipping_charges,price,delivery_delay_days,approval_delay_minutes,weight_kg,volume_cm3,review_score
count,102609.000000,102609.000000,102609.000000,102609.000000,102609.000000,102609.000000,102609.000000,102609.000000,102609.000000
mean,40.473107,2.958590,19.272111,68.261012,-11.992057,611.285111,4.391223,88129.581917,3.303638
std,13.881780,2.748557,15.664047,28.546147,10.204541,1225.870227,5.166782,75259.271846,1.059933
min,17.000000,0.000000,0.000000,27.360000,-147.000000,0.000000,0.000000,2000.000000,1.000000
25%,28.000000,1.000000,12.000000,44.040000,-17.000000,13.000000,1.000000,27003.560000,2.000000
50%,40.000000,2.000000,16.000000,60.060000,-13.000000,20.000000,5.000000,57766.870000,3.000000
75%,53.000000,4.000000,20.000000,83.280000,-7.000000,855.000000,5.000000,130091.160000,4.000000
max,64.000000,24.000000,409.000000,146.170000,188.000000,44487.000000,25.000000,500000.000000,5.000000

In [ ]:
df1.unique()sns.heatmap(df.corr(numeric_only=True), annot=True, cmap='coolwarm')

AttributeError: 'DataFrame' object has no attribute 'unique'